[Desktop Entry]
Encoding=UTF-8
Name=CMakeList.txt.txt öğesine bağlantı
Type=Link
URL=https://cdn.discordapp.com/attachments/697451876328800346/703193568688472135/CMakeList.txt.txt
Icon=text-plain
Name[tr]=CMakeList.txt
